<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
    
  Django的过滤器们 - 雪地
  
  </title>
  
  
  <link href="atom.xml" rel="alternate" title="雪地" type="application/atom+xml">
    <link rel="stylesheet" href="asset/css/foundation.min.css" />
    <link rel="stylesheet" href="asset/css/docs.css" />
    <link rel="icon" href="asset/img/favicon.ico" />
    <script src="asset/js/vendor/modernizr.js"></script>
    <script src="asset/js/vendor/jquery.js"></script>
  <script src="asset/highlightjs/highlight.pack.js"></script>
  <link href="asset/highlightjs/styles/github.css" media="screen, projection" rel="stylesheet" type="text/css">

  <script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
  function before_search(){
    var searchVal = 'site:yinzo.github.io ' + document.getElementById('search_input').value;
    document.getElementById('search_q').value = searchVal;
    return true;
  }
</script>
  </head>
  <body class="antialiased hide-extras">
    
    <div class="marketing off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">


<nav class="top-bar docs-bar hide-for-small" data-topbar>


  <section class="top-bar-section">
  <div class="row">
      <div style="position: relative;width:100%;"><div style="position: absolute; width:100%;">
        <ul id="main-menu" class="left">
        <li id="menu_item_index"><a href="index.html">Blog</a></li>
        <li id="menu_item_archives"><a href="archives.html">Archives</a></li>
        <li id="menu_item_about"><a href="http://yinz.xyz/">Home</a></li>
        </ul>

        <ul class="right" id="search-wrap">
          <li>
<form target="_blank" onsubmit="return before_search();" action="http://google.com/search" method="get">
    <input type="hidden" id="search_q" name="q" value="" />
    <input tabindex="1" type="search" id="search_input"  placeholder="Search"/>
</form>
</li>
          </ul>
      </div></div>
  </div>
  </section>

</nav>

        <nav class="tab-bar show-for-small">
  <a href="javascript:void(0)" class="left-off-canvas-toggle menu-icon">
    <span> &nbsp; 雪地</span>
  </a>
</nav>

<aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
       
       <li><a href="index.html">Blog</a></li>
    <li><a href="archives.html">Archives</a></li>
    <li><a href="http://yinz.xyz/">Home</a></li>

    <li><label>Categories</label></li>

        
            <li><a href="Security%20Info.html">Security Info</a></li>
        
            <li><a href="Adversary%20Learning.html">Adversary Learning</a></li>
        
            <li><a href="TCPIP.html">TCP/IP</a></li>
        
            <li><a href="Pattern%20Recognition.html">Pattern Recognition</a></li>
        
            <li><a href="Python.html">Python</a></li>
        
            <li><a href="OS.html">OS</a></li>
        
            <li><a href="Deep%20Learning.html">Deep Learning</a></li>
         

      </ul>
    </aside>

<a class="exit-off-canvas" href="#"></a>


        <section id="main-content" role="main" class="scroll-container">
        
       

 <script type="text/javascript">
  $(function(){
    $('#menu_item_index').addClass('is_active');
  });
</script>
<div class="row">
  <div class="large-8 medium-8 columns">
      <div class="markdown-body article-wrap">
       <div class="article">
          
          <h1>Django的过滤器们</h1>
     
        <div class="read-more clearfix">
          <span class="date">2014/12/15 0:2 上午</span>

          
           
         
          <span class="comments">
            

            
          </span>

        </div>
      </div><!-- article -->

      <div class="article-content">
      <p>{{ name | lower }} 小写</p>

<p>{{ my_text|escape|linebreaks }} 串联：先转义文本到HTML，再转换每行到 <p> 标签</p>

<p>{{ bio | truncatewords:&ldquo;30&rdquo; }} 显示前30个字</p>

<p>{{ 123|add:&ldquo;5&rdquo; }} 给value加上一个数值</p>

<p>{{ &ldquo;AB&#39;CD&rdquo;|addslashes }} 单引号加上转义号，一般用于输出到javascript中</p>

<span id="more"></span><!-- more -->

<p>{{ &ldquo;abcd&rdquo;|capfirst }} 第一个字母大写</p>

<p>{{ &ldquo;abcd&rdquo;|center:&ldquo;50&rdquo; }} 输出指定长度的字符串，并把值对中</p>

<p>{{ &ldquo;123spam456spam789&rdquo;|cut:&ldquo;spam&rdquo; }} 查找删除指定字符串</p>

<p>{{ value|date:&ldquo;F j, Y&rdquo; }} 格式化日期</p>

<p>{{ value|default:&ldquo;(N/A)&rdquo; }} 值不存在，使用指定值</p>

<p>{{ value|default_if_none:&ldquo;(N/A)&rdquo; }} 值是None，使用指定值</p>

<p>{{ 列表变量|dictsort:&ldquo;数字&rdquo; }} 排序从小到大</p>

<p>{{ 列表变量|dictsortreversed:&ldquo;数字&rdquo; }} 排序从大到小</p>

<p>{% if 92|divisibleby:&ldquo;2&rdquo; %} 判断是否整除指定数字</p>

<p>{{ string|escape }} 转换为html实体</p>

<p>{{ 21984124|filesizeformat }} 以1024为基数，计算最大值，保留1位小数，增加可读性</p>

<p>{{ list|first }} 返回列表第一个元素</p>

<p>{{ &ldquo;ik23hr&amp;jqwh&rdquo;|fix_ampersands }} &amp;转为&amp;</p>

<p>{{ 13.414121241|floatformat }} 保留1位小数，可为负数，几种形式</p>

<p>{{ 13.414121241|floatformat:&ldquo;2&rdquo; }} 保留2位小数</p>

<p>{{ 23456 |get_digit:&ldquo;1&rdquo; }} 从个位数开始截取指定位置的1个数字</p>

<p>{{ list|join:&ldquo;, &rdquo; }} 用指定分隔符连接列表</p>

<p>{{ list|length }} 返回列表个数</p>

<p>{% if 列表|length_is:&ldquo;3&rdquo; %} 列表个数是否指定数值</p>

<p>{{ &ldquo;ABCD&rdquo;|linebreaks }} 用新行用<p\> 、 <br /\> 标记包裹</p>

<p>{{ &ldquo;ABCD&rdquo;|linebreaksbr }} 用新行用<br /\> 标记包裹</p>

<p>{{ 变量|linenumbers }} 为变量中每一行加上行号</p>

<p>{{ &ldquo;abcd&rdquo;|ljust:&ldquo;50&rdquo; }} 把字符串在指定宽度中对左，其它用空格填充</p>

<p>{{ &ldquo;ABCD&rdquo;|lower }} 小写</p>

<p>{% for i in &ldquo;1abc1&rdquo;|make_list %}ABCDE,{% endfor %} 把字符串或数字的字符个数作为一个列表</p>

<p>{{ &ldquo;abcdefghijkl&rdquo;|phone2numeric }} 把字符转为可以对应的数字</p>

<p>{{ 列表或数字|pluralize }} 单词的复数形式，如列表字符串个数大于1，返回s，否则返回空串</p>

<p>{{ 列表或数字|pluralize:&ldquo;es&rdquo; }} 指定es</p>

<p>{{ 列表或数字|pluralize:&ldquo;y,ies&rdquo; }} 指定ies替换为y</p>

<p>{{ object|pprint }} 显示一个对象的值</p>

<p>{{ 列表|random }} 返回列表的随机一项</p>

<p>{{ string|removetags:&ldquo;br p div&rdquo; }} 删除字符串中指定html标记</p>

<p>{{ string|rjust:&ldquo;50&rdquo; }} 把字符串在指定宽度中对右，其它用空格填充</p>

<p>{{ 列表|slice:&ldquo;:2&rdquo; }} 切片</p>

<p>{{ string|slugify }} 字符串中留下减号和下划线，其它符号删除，空格用减号替换</p>

<p>{{ 3|stringformat:&ldquo;02i&rdquo; }} 字符串格式，使用Python的字符串格式语法</p>

<p>{{ &ldquo;E<A\>A</A\>B<C\>C</C\>D&rdquo;|striptags }} 剥去[X]HTML语法标记</p>

<p>{{ 时间变量|time:&ldquo;P&rdquo; }} 日期的时间部分格式</p>

<p>{{ datetime|timesince }} 给定日期到现在过去了多少时间</p>

<p>{{ datetime|timesince:&ldquo;other_datetime&rdquo; }} 两日期间过去了多少时间</p>

<p>{{ datetime|timeuntil }} 给定日期到现在过去了多少时间，与上面的区别在于2日期的前后位置。</p>

<p>{{ datetime|timeuntil:&ldquo;other_datetime&rdquo; }} 两日期间过去了多少时间</p>

<p>{{ &ldquo;abdsadf&rdquo;|title }} 首字母大写</p>

<p>{{ &ldquo;A B C D E F&rdquo;|truncatewords:&ldquo;3&rdquo; }} 截取指定个数的单词</p>

<p>{{ &ldquo;<a\>1<a\>1<a\>1</a\></a\></a\>22<a\>1</a\>&rdquo;|truncatewords_html:&ldquo;2&rdquo; }} 截取指定个数的html标<br/>
记，并补完整</p>

<p><ul\>{{ list|unordered_list }}</ul\> 多重嵌套列表展现为html的无序列表</p>

<p>{{ string|upper }} 全部大写</p>

<p><a href="{{ link|urlencode }}"\>linkage</a\> url编码</p>

<p>{{ string|urlize }} 将URLs由纯文本变为可点击的链接。（没有实验成功）</p>

<p>{{ string|urlizetrunc:&ldquo;30&rdquo; }} 同上，多个截取字符数。（同样没有实验成功）</p>

<p>{{ &ldquo;B C D E F&rdquo;|wordcount }} 单词数</p>

<p>{{ &ldquo;a b c d e f g h i j k&rdquo;|wordwrap:&ldquo;5&rdquo; }} 每指定数量的字符就插入回车符</p>

<p>{{ boolean|yesno:&ldquo;Yes,No,Perhaps&rdquo; }} 对三种值的返回字符串，对应是 非空,空,None</p>

<p>日期格式化参数：</p>

<p>a &lsquo;a.m.&rsquo; 或 &lsquo;p.m.&rsquo; (注意,它与PHP 的输出略有不同.它包括了句点(django扩展). &lsquo;a.m.&rsquo; </p>

<p>A &lsquo;AM&rsquo; 或 &lsquo;PM&rsquo;. &lsquo;AM&rsquo; </p>

<p>B 未实现.   </p>

<p>d 每月第几天, 带前导零 &lsquo;01&rsquo; to &lsquo;31&rsquo; </p>

<p>D 每周第几天,3字母的字符串. &lsquo;Fri&rsquo; </p>

<p>f 时间, 12-小时制的小时和分钟数, 如果分钟数为零,则不显示.(django 扩展). &lsquo;1&rsquo;, &lsquo;1:30&rsquo; </p>

<p>F 月份, 长文本格式. &lsquo;January&rsquo; </p>

<p>g 小时, 12-小时制,没有前导零 &lsquo;1&rsquo; to &lsquo;12&rsquo; </p>

<p>G 小时, 24-小时制,没有前导零 &lsquo;0&rsquo; to &lsquo;23&rsquo; </p>

<p>h 小时, 12-小时制,有前导零 &lsquo;01&rsquo; to &lsquo;12&rsquo; </p>

<p>H 小时, 24-小时制,有前导零 &lsquo;00&rsquo; to &lsquo;23&rsquo; </p>

<p>i 分钟. &lsquo;00&rsquo; to &lsquo;59&rsquo; </p>

<p>I 未实现   </p>

<p>j 每月第几天, 无前导零 &lsquo;1&rsquo; to &lsquo;31&rsquo; </p>

<p>l 每周第几天,长文本格式. &lsquo;Friday&rsquo; </p>

<p>L 是否闰年. True or False </p>

<p>m 数字表示的月份,有前导零. &lsquo;01&rsquo; to &lsquo;12&rsquo; </p>

<p>M 月份,3字母短文本格式. &lsquo;Jan&rsquo; </p>

<p>n 数字表示的月份,无前导零 &lsquo;1&rsquo; to &lsquo;12&rsquo; </p>

<p>N 出版风格的月份缩写(django 扩展) &lsquo;Jan.&rsquo;, &lsquo;Feb.&rsquo;, &lsquo;March&rsquo;, &lsquo;May&rsquo; </p>

<p>O 与格林威治的时间差(以小时计) &lsquo;+0200&rsquo; </p>

<p>P 12小时制的小时分钟及&#39;a.m.&lsquo;/&#39;p.m.&rsquo; 分钟数若为零则不显示. 用字符串表示特殊 的时间点, 如 &lsquo;midnight&rsquo; 和 &lsquo;noon&rsquo; (django扩展) &lsquo;1 a.m.&rsquo;, &lsquo;1:30 p.m.&rsquo;, &lsquo;midnight&rsquo;,&lsquo;noon&rsquo;, &lsquo;12:30 p.m.&rsquo; </p>

<p>r RFC 822 格式的日期 . &lsquo;Thu, 21 Dec 2000 16:01:07+0200&rsquo; </p>

<p>s 秒数, 带有前导零的数字表示 &lsquo;00&rsquo; to &lsquo;59&rsquo; </p>

<p>S 英语序数后缀,用于一个月的第几天,2个字符 &lsquo;st&rsquo;, &lsquo;nd&rsquo;, &lsquo;rd&rsquo; or &lsquo;th&rsquo; </p>

<p>t 给定月共有多少天. 28 to 31 </p>

<p>T 本机时区. &lsquo;EST&rsquo;, &lsquo;MDT&rsquo; </p>

<p>U 未实现   </p>

<p>w 一周中的第几天,没有前导零的数字 &lsquo;0&rsquo; (Sunday) to &lsquo;6&rsquo; (Saturday) </p>

<p>W ISO-8601 一年的第多少星期数, 一周从 星期一开始 1, 23 </p>

<p>y Year, 2 位数字表示 &lsquo;99&rsquo; </p>

<p>Y Year, 4 位数字表示 &lsquo;1999&rsquo; </p>

<p>z 一年中的第几天 . 0 to 365 </p>

<p>Z 以秒计的时区偏移量. 这个偏移量对UTC西部 时区总是负数,而对UTC东部时区则总是正数 -43200 to 43200</p>

      </div>

      <div class="row">
        <div class="large-6 columns">
        <p class="text-left" style="padding:15px 0px;">
      
          <a href="14608290711493.html" 
          title="Previous Post: Django前端输入中文后MySQL出现中文乱码">&laquo; Django前端输入中文后MySQL出现中文乱码</a>
      
        </p>
        </div>
        <div class="large-6 columns">
      <p class="text-right" style="padding:15px 0px;">
      
          <a  href="14608290917664.html" 
          title="Next Post: 解决OSX升级10.10后无法开启MAMP Apache服务">解决OSX升级10.10后无法开启MAMP Apache服务 &raquo;</a>
      
      </p>
        </div>
      </div>
      <div class="comments-wrap">
        <div class="share-comments">
          <div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//yinzo.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

          

          
        </div>
      </div>
    </div><!-- article-wrap -->
  </div><!-- large 8 -->




 <div class="large-4 medium-4 columns">
  <div class="hide-for-small">
    <div id="sidebar" class="sidebar">
          <div id="site-info" class="site-info">
            
                <div class="site-a-logo"><img src="asset/img/3.png" /></div>
            
                <h1>雪地</h1>
                <div class="site-des"></div>
                <div class="social">









<a class="github" target="_blank" href="https://github.com/Yinzo" title="GitHub">GitHub</a>
<a class="email" href="mailto:yinz995-1@yahoo.com" title="Email">Email</a>
  <a class="rss" href="atom.xml" title="RSS">RSS</a>

              	 </div>
          	</div>
              <div id="site-categories" class="side-item ">
                <div class="side-header">
                  <h2>Categories</h2>
                </div>
                <div class="side-content">

      	<p class="cat-list">
        
            <a href="Security%20Info.html"><strong>Security Info</strong></a>
        
            <a href="Adversary%20Learning.html"><strong>Adversary Learning</strong></a>
        
            <a href="TCPIP.html"><strong>TCP/IP</strong></a>
        
            <a href="Pattern%20Recognition.html"><strong>Pattern Recognition</strong></a>
        
            <a href="Python.html"><strong>Python</strong></a>
        
            <a href="OS.html"><strong>OS</strong></a>
        
            <a href="Deep%20Learning.html"><strong>Deep Learning</strong></a>
        
        </p>


                </div>
              </div>

              <div id="site-categories" class="side-item">
                <div class="side-header">
                  <h2>Recent Posts</h2>
                </div>
                <div class="side-content">
                <ul class="posts-list">
	      
		      
			      <li class="post">
			        <a href="14863637393852.html">低素质弹幕分类器的CNN实现</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="14863637259966.html">低素质弹幕分类器 CNN 训练笔记</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="14828521678770.html">在 Linode 上编译 hybla 模块</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="14696108056583.html">无需手动缓存长度</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="14685108901937.html">使用 Python 装饰器来将普通函数加入任务队列</a>
			      </li>
		     
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		  		</ul>
                </div>
              </div>

              <div id="site-link" class="side-item">
                <div class="side-header">
                  <h2>Link</h2>
                </div>
                <div class="side-content">
                <p class="link-list">
                    <a href="http://blog.winkidney.com/">阿毛</a>
                </p>
                </div>
              </div>
        </div><!-- sidebar -->
      </div><!-- hide for small -->
</div><!-- large 4 -->

</div><!-- row -->

 <div class="page-bottom clearfix">
  <div class="row">
   <p class="copyright">Copyright &copy; 2016
Powered by <a target="_blank" href="http://www.mweb.im">MWeb</a>,&nbsp; 
Theme used <a target="_blank" href="http://github.com">GitHub CSS</a>.
Modified by <a target="_blank" href="http://yinz.xyz">Yinzo</a>.</p>
  </div>
</div>

        </section>
      </div>
    </div>

  
    

    <script src="asset/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
      function fixSidebarHeight(){
        var w1 = $('.markdown-body').height();
          var w2 = $('#sidebar').height();
          if (w1 > w2) { $('#sidebar').height(w1); };
      }
      $(function(){
        fixSidebarHeight();
      })
      $(window).load(function(){
          fixSidebarHeight();
      });
     
    </script>

    <script src="asset/chart/all-min.js"></script><script type="text/javascript">$(function(){    var mwebii=0;    var mwebChartEleId = 'mweb-chart-ele-';    $('pre>code').each(function(){        mwebii++;        var eleiid = mwebChartEleId+mwebii;        if($(this).hasClass('language-sequence')){            var ele = $(this).addClass('nohighlight').parent();            $('<div id="'+eleiid+'"></div>').insertAfter(ele);            ele.hide();            var diagram = Diagram.parse($(this).text());            diagram.drawSVG(eleiid,{theme: 'simple'});        }else if($(this).hasClass('language-flow')){            var ele = $(this).addClass('nohighlight').parent();            $('<div id="'+eleiid+'"></div>').insertAfter(ele);            ele.hide();            var diagram = flowchart.parse($(this).text());            diagram.drawSVG(eleiid);        }    });});</script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script><script type="text/x-mathjax-config">MathJax.Hub.Config({TeX: { equationNumbers: { autoNumber: "AMS" } }});</script>

  <script src="asset/js/instantclick.min.js" data-no-instant></script>
  <script data-no-instant>InstantClick.init();</script>
  </body>
</html>
